OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxx
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_MAPS_KEY=AIzaxxxxxxxxxxxxxxxxxxxxxxxx
INSTANTLY_API_KEY=instantly_xxxxxxxxxxxxxxxxxx
SMARTLEAD_API_KEY=
INSTANTLY_CAMPAIGN_ID=campaign_xxxxxxxx
WEBHOOK_URL=https://hook.eu1.make.com/xxxxxxxx
CALENDAR_URL=https://cal.com/katem
